<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>部门</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin.css" />
</head>
<body >      
     <a href="{:U('Member/recycle')}" style="color:red">回收站</a><br><br>
     <a href="{:U('Member/passedMember')}" style="color:red">已审核成员</a><br><br>
        <volist name="list" id="vo">
		        待审核成员 ：<span class="min-left"><a href="__URL__/showMember/id/{$vo.id}">{$vo.name} </a></span><br><br>
		   </volist>    
    
</body>
</html>
