<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title></title>
<meta name="description" content="slick Login">
<meta name="author" content="Webdesigntuts+">
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.6.2.min.js"></script>
</head>
<body>
<div id="slick-login" style="margin:80px auto;width:350px;">
    <a href="__URL__/index">返回</a>  <br>
       姓名：{$member.name}<br>
       性别：{$member.sex}<br>
       学院：{$member.college}<br>
       班级：{$member.class}<br>
       邮箱：{$member.email}<br>
       手机号：{$member.telephone}<br>
       qq号：{$member.qq}<br> 
       申请加入部门：{$member.department_name}<br>
       爱好：{$member.hobby}<br>
       加入理由： {$member.reason} <br>
</div>
</body>
</html>