* {
	margin:0;
	padding:0;
	font-size:18px;
	text-decoration:none;
	font-weight:normal;
	border:none;
	font-family: "微软雅黑", Helvetica, Tahoma, Arial, sans-serif;
}
body {
	background:rgb(48,51,63);
}
.login{width:960px;margin:0 auto;}
.main {
	width:400px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:75px auto 0;
	background-color:white;
	position:relative;
	border-top:10px solid #28A2E6;
	padding:50px;
	  padding: 30px 50px 15px 50px;
}
.logo {
	width:300px;
	background:url("./images/.png") no-repeat left;
	height:47px;
}
.logo p {
	font-size:28px;
	text-align: center;
}
.sign {
	width:300px;
	overflow:hidden;
}
.sign input[type="text"]{
	width:290px;
	height:40px;
	margin-top:20px;
	border-radius:6px;
	outline:none;
	border:1px solid #A29F9F;
	text-indent:45px;
}
.sign input[type="text"]:focus{
	border-color:#A4DBFF;
	/*box-shadow:5px 0px 37px #A4DBFF,-5px 0px 5px #A4DBFF,0 5px 5px#A4DBFF,0 -5px 5px #A4DBFF;*/
}
.sign .username{
	background:url("/club/Public/images/1.png") 0px 0px no-repeat ;
}
.sign .password{
	background:url("/club/Public/images/1.png") 0px -44px no-repeat;
}
.sign .check{
	background:url("/club/Public/images/1.png") 0px -81px no-repeat;
}
.sign a{
	font-size:18px;
	color:#7AADCE;
	text-decoration:underline;
	position:absolute;
	  right: 66px;
  top: 231px;
}
.sign .verify{
	width:290px;
	height:76px;
	margin-top:20px;
	border:1px solid #A29F9F;
}
.sign .submit {
	  cursor: pointer;
  background: #3659AA;
  height: 45px;
  width: 100px;
  line-height: 45px;
  color: white;
  font-size: 25px;
  letter-spacing: 10px;
  outline: none;
  margin: 20px auto;
    text-align: center;
  border-radius: 5px;
  padding-left: 10px;
}
.sign .submit:hover{background:#697EAF;}


